<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/jpg" sizes="16x16" href="/plugins/images/yonsei_logo_icon_black.jpg">
    <title>승인받은 태스크 목록</title>
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="/main">
                        <!-- Logo icon image, you can use font-icon also -->
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                        <!--This is dark logo text--><img src="/plugins/images/yonsei_logo_bar.jpg" alt="home" class="dark-logo" /><!--This is light logo text--><img src="/plugins/images/yonsei_logo_bar.jpg" alt="home" class="light-logo" />
                     </span> </a>
                     
                </div>

                
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    
                    <!-- <li>
                        <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                            <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a> </form>
                    </li> -->
                    <li>
                        <a class="profile-pic" href="#"> <img src="/plugins/images/users/profile_basic.png" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{user.id}}</b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">

                    <li style="padding: 70px 0 0;">
                        <a href="/task_sys/partic" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>파일제출</a>
                    </li>
                    <li>
                        <a href="/task_sys/partic/partic/{{user.id}}" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>제출현황</a>
                    </li>
                   

                </ul>
                <div class="center p-20">
                     <a href="/auth/logout" class="btn btn-danger btn-block waves-effect waves-light">로그아웃</a>
                 </div>
            </div>
            
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h2 class="page-title"><b>승인받은 태스크 목록</b></h2> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <a href="/auth/logout" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">로그아웃</a>
                        <ol class="breadcrumb">
                            <li><a href="#">{{user.id}}</a></li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                <!-- .row -->
               
                <!--/.row -->
                <!--row -->
                <!-- /.row -->
                
                <!-- table -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">                            
                            <h3 class="box-title">참여중인 태스크 (태스크이름 클릭시 상세정보를 확인할 수 있습니다)</h3>                            
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>태스크 ID</th>  
                                            <th>태스크 이름</th>                                   
                                            <th>설명</th>
                                            <th>최소업로드주기(일)</th>
                                            <th>승인현황</th>
                                            <th>진행현황</th>
                                        </tr>
                                    </thead>                                    
                                    <tbody>
                                        {%for task in tasks%}
                                            {%for apply in task.Applies%}
                                                {%if apply.user_id==user.id and apply.is_approved==true%}
                                        <tr>
                                            <td>{{task.task_id}}</td>
                                            <td><a type="button" href="/task_sys/info/{{task.task_id}}" method='GET'>{{task.task_name}}</a></td>
                                            <td>{{task.description}}</td>
                                            <td>{{task.min_upload_freq}}</td>
                                            <td>승인받음</td>
                                            <td>{{'진행중' if task.is_closed==false}}
                                                {{'종료' if task.is_closed==true}}</td>
                                                {%endif%}   
                                            {%endfor%}
                                        </tr>
                                        {%endfor%}                                                                              
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                  
                </div>
                <!-- ============================================================== -->
                <!--  file rating -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">                            
                            <h3 class="box-title">태스크 파일 제출하기</h3>                            
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>태스크 ID</th>
                                            <th>태스크 이름</th>
                                            
                                            <th>회차</th>
                                            <th>Start-Date</th>
                                            <th>End-Date</th>
                                            <th>원본 데이터 타입</th>                                            
                                            <th>업로드</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for task in tasks%}
                                            {%for apply in task.Applies%}
                                                {%if apply.user_id==user.id and apply.is_approved==true%}
                                        <tr>
                                            <td class="id">{{task.task_id}}</td>          
                                            <td class="txt-oflo"> {{task.task_name}}</td>
                                             {%if task.is_closed==false%}  
                                             <form action="/task_sys/upload" method="post" enctype="multipart/form-data">                               
                                            <td><input type="number" placeholder="회차(숫자)"name="time" size="10" style="width:100%;"></td>
                                            <td><input type="date" name="start_date"></td>   
                                            <td><input type="date" name="end_date"></td>  
                                            <td>
                                                <select name="odt">
                                                    {%for odt in task.ODTs%}
                                                  <option value="{{odt.name}}">{{odt.name}}</option>
                                                    {%endfor%}
                                                </select>
                                              </td>
                                            <!-- ===========action 뒤의 주소 값이 파일이 전송될 위치입니다=============== -->
                                            <td>
                                                <input type="file" name="csv_file" accept="file/csv">
                                                <input type="text" name="submitter_id" value="{{user.id}}" hidden>
                                                <input type="number" name="task_id" value="{{task.task_id}}" hidden>
                                                <input type="submit" value="제출하기"> </td>
                                            </form>
                                            {%else%}
                                             <td>태스크참여가 종료되었습니다!</td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td>제출종료</td>
                                            {%endif%}
                                            {%endif%}   
                                            {%endfor%}
                                        </tr>
                                        {%endfor%}                                                                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                  
                </div>
                    
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center">2020 &copy; Data Base </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Counter js -->
    <script src="/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/custom.min.js"></script>
    <script src="/js/dashboard1.js"></script>
    <script src="/plugins/bower_components/toast-master/js/jquery.toast.js"></script>

</body>

</html>
