{%extends 'welcome.html'%}

{%block contents%}
  <title>회원정보</title>
  <div class="timeline">
    <div class="followings half">
        <center><div><h2>{{user.username + '님의 등록 정보'}}</h2></div>
        <p></p>
        {% if user.role==0 %}
            <span class="badge badge-secondary" style="font-size: 100%;">관리자계정</span>
        {% endif %}
        {% if user.role==1 %}
            <span class="badge badge-secondary" style="font-size: 100%;">제출자계정</span>
        {% endif %}
        {% if user.role==2 %}
            <span class="badge badge-secondary" style="font-size: 100%;">평가자계정</span>
        {% endif %}
        <table style="widows: 300px; border:1px">
        <td><div>{{'사용자ID: '+ user.id}}</div>
        <div>{{'이메일: '+ user.email}}</div>
        <div>{{'이름: '+ user.username}}</div>
        <div>{{'성별: '+ user.sex}}</div>
        <h6>==========추가정보(필수사항X)==========</h6>
        {% if user.age==null or user.age==0 %}
        <div>{{'나이: 미등록'}}</div>
        {%else%}
        <div>{{'나이: '+ user.age}}</div>
        {% endif %}
        {% if user.date_of_birth==null %}
        <div>{{'생일: 미등록'}}</div>
        {%else%}
        <div>{{'생일: '+ user.date_of_birth}}</div>
        {%endif%}
        {% if user.address==null or user.address==''%}
        <div>{{'주소: 미등록'}}</div>
        {%else%}
        <div>{{'주소: '+ user.address}}</div>
        {%endif%}
        {%if user.cellphone==null or user.cellphone=='' %}
        <div>{{'전화번호: 미등록'}}</div>
        {%else%}
        <div>{{'전화번호: '+ user.cellphone}}</div>
        {%endif%}
        <p></p>
        {% if user.role==1%}
        <div><b>{{'평가점수: '+user.score}}</b></div>
        {%endif%}
        <div><b>{{'가입일: '+ user.created_at}}</b></div></td></table>
        <a id="my-profile" typer='submit' href="/userinfo/profile_update" class="btn btn-primary">정보수정</a>
        <a id="change-password" typer='submit' href="/userinfo/change_pw" class="btn btn-primary">비밀번호변경</a>
        {% if user.role!=0%}
        <form action="/userinfo/delete_user/{{user.id}}?_method=DELETE" method="POST">
          <button id="drop" type='submit' class="btn btn-danger">회원탈퇴</button>
          <span>** 클릭즉시 모든 정보가 삭제됩니다!</span>
        </form>
        {%endif%}
        <a id="logout" typer='submit' href="/" class="btn btn-secondary">뒤로가기</a></center>
    </div>
  </div>
{%endblock%}