{%if user.role==0%}
<!DOCTYPE html>
<html>
<head>
    <title>회원정보</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-sm navbar navbar-dark bg-dark" style="width: auto; background-color:white;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/main"><b>DB_project_2020</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main"><b>메인화면</b></a>
            </li>
            {%if user.role==0 %}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userinfo/stat">회원관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/task_sys">태스크관리</a>
            </li>
            {%endif%}
            {%if user.role==1%}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">태스크참여</a>
            </li>
            {%endif%}
            {%if user.role==2%}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">태스크평가</a>
            </li>
            {%endif%}
        </ul>
    </nav>
</head>
<div class="abcd" style="overflow: hidden;
    margin: auto;
    position: relative; /*relative*/
    margin-top:20px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 900px;
    height: 600px;
    text-align: center;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.12);">
    <div class="timeline">
        <div class="followings half">
            {%for user in users%}
            <h4><b>{{user.username + '님의 등록 정보'}}</b></h4>
            <p></p>
            {% if user.role==0 %}
            <span class="badge badge-secondary" style="font-size: 100%;">관리자계정</span>
        {% endif %}
        {% if user.role==1 %}
            <span class="badge badge-secondary" style="font-size: 100%;">제출자계정</span>
        {% endif %}
        {% if user.role==2 %}
            <span class="badge badge-secondary" style="font-size: 100%;">평가자계정</span>
        {% endif %}
        <center><table style="widows: 300px; border: gray 1px;">
            <td><div>{{'사용자ID: '+ user.id}}</div>
            <div>{{'이메일: '+ user.email}}</div>
            <div>{{'이름: '+ user.username}}</div>
            <div>{{'성별: '+ user.sex}}</div>
            <h6>==========추가정보(필수사항X)==========</h6>
            {% if user.age==null or user.age==0 %}
            <div>{{'나이: 미등록'}}</div>
            {%else%}
            <div>{{'나이: '+ user.age}}</div>
            {% endif %}
            {% if user.date_of_birth==null %}
            <div>{{'생일: 미등록'}}</div>
            {%else%}
            <div>{{'생일: '+ user.date_of_birth}}</div>
            {%endif%}
            {% if user.address==null or user.address==''%}
            <div>{{'주소: 미등록'}}</div>
            {%else%}
            <div>{{'주소: '+ user.address}}</div>
            {%endif%}
            {%if user.cellphone==null or user.cellphone=='' %}
            <div>{{'전화번호: 미등록'}}</div>
            {%else%}
            <div>{{'전화번호: '+ user.cellphone}}</div>
            {%endif%}
            <p></p>
            {% if user.role==1%}
            <div><b>{{'평가점수: '+user.score}}</b></div>
            {%endif%}
            <div><b>{{'가입일: '+ user.created_at}}</b></div></td></table></center>
            <!-- 추가기능 구현 시:
                    1. 관리자는 회원정보를 수정할 수 있다
                    2. 관리자는 회원탈퇴를 진행할 수 있다
                    3. 관리자는 회원의 비밀번호를 수정할 수 있다 등등...
            <a id="my-profile" typer='submit' href="/userinfo/profile_update" class="btn">정보수정</a>
            <a id="change-password" typer='submit' href="/userinfo/change_pw" class="btn">비밀번호변경</a>
            {% if user.role!=0%}
            <form action="/userinfo/delete_user/{{user.id}}?_method=DELETE" method="POST">
            <button id="drop" type='submit' class="btn">회원탈퇴</button>-->
            </form>
            {%endif%}
            {%endfor%}
            <HR SIZE=3>
            <h3>참여한 태스크 목록</h3>
            <table stylule="width:100%" border="1" align="center">
                <tr>
                    <th>태스크ID</th>
                    <th>태스크이름</th>
                    <th>평균점수</th>
                    <th>승인여부</th>
                </tr>
                {%for apply in applys%}
                <tr>
                    <th>{{apply.task_id}}</th>
                    <th>{{apply.task_name}}</th>
                    <th></th>
                    <th>{{apply.is_approved}}</th>
                </tr>
                {%endfor%}
            </table>
            <a id="logout" typer='submit' onclick="history.back()" class="btn btn-secondary" style="margin-top: 10px;">뒤로가기></a>
        </div>
    </div>
</div>
</html>
{%else%}
<script type="text/javascript">alert("접근권한없음! (관리자기능)");history.back();</script>
{%endif%}
