.timeline {
    overflow: hidden;
    margin: auto;
    position: absolute; /*relative*/
    top: 100;
    left: 0;
    right: 0;
    bottom: 0;
    width: 900px;
    height: 640px;
    text-align: center;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.12);
}

body {

    background-color: white;
}

