/*<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <form action='/task_sys/add_odt/submit' method="POST">
        <title>원본 데이터타입 추가하기</title>
        <h2>원본 데이터타입(ODT) 추가하기</h2>
        <div>
            <span>태스크고유ID</span>
            <input type="text" name='task_id' value="{{task_id}}" readonly>
        </div>
        <div>
            <label>
            <span>데이터타입이름</span>
            <input type="text" name='name'>
            </label>
        </div>
        <div>
            <label>
            <span>스키마정보</span>
            <input type="text" style='height:50px' name='schema_info''>
            </label>
        </div>
        <div>
            <label>
                <span>스키마 매핑정보</span>
                <input type="text"  name='mapping_info''>
            </label>
        </div>

        <button id="submit" type='submit' class="btn">원본 데이터타입 추가하기</button>
    </form>
        <a id="logout" typer='submit' href="/" class="btn">뒤로가기</a>
    
</body>
</html>
*/

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-sm navbar navbar-dark bg-dark" style="width: auto; background-color:white;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/main"><b>DB_project_2020</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main"><b>메인화면</b></a>
            </li>
            {%if user.role==0 %}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userinfo/stat">회원관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/task_sys">태스크관리</a>
            </li>
            {%endif%}
            {%if user.role==1%}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">태스크참여</a>
            </li>
            {%endif%}
            {%if user.role==2%}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">태스크평가</a>
            </li>
            {%endif%}
        </ul>
    </nav>
</head>
<body>
    <div class="abcd" style="overflow: hidden;
    margin: auto;
    position: relative; /*relative*/
    margin-top:20px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 900px;
    text-align: center;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.12);">
        <form action='/task_sys/add_odt/submit' method="POST">
            <title>원본 데이터타입 추가하기</title>
            <h2 style="margin-top:10px;">원본 데이터타입(ODT) 추가하기</h2>
            <div>
                <span>태스크고유ID</span>
                <input type="text" name='task_id' value="{{task_id}}" readonly>
            </div>
            <div>
                <label>
                    <span style="margin-top:10px;">데이터타입이름</span>
                    <input style="margin-top:10px;" type="text" name='name'>
                </label>
            </div>
            <div>
                <label>
                    <span>스키마정보</span>
                    <input type="text"  name='schema_info' '>
                </label>
            </div>
            <div>
                <label>
                    <span>스키마 매핑정보</span>
                    <input type="text" name='mapping_info' '>
                </label>
            </div>

            <button id="submit" type='submit' class="btn btn-primary">원본 데이터타입 추가하기</button>
        </form>
        <a id="logout" typer='submit' href="/" class="btn" style="color:#082cce; margin-top:10px;">뒤로가기></a>
        </div>
</body>
</html>
