{%if user.role==0%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-sm navbar navbar-dark bg-dark" style="width: auto; background-color:white;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/main"><b>DB_project_2020</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main"><b>메인화면</b></a>
            </li>
            {%if user.role==0 %}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userinfo/stat">회원관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/task_sys">태스크관리</a>
            </li>
            {%endif%}
            {%if user.role==1%}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">태스크참여</a>
            </li>
            {%endif%}
            {%if user.role==2%}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">태스크평가</a>
            </li>
            {%endif%}
        </ul>
    </nav>

    <script language="javascript">
        var oTbl;
        //Row 추가
        function insRow() {
            oTbl = document.getElementById("addTable");
            var oRow = oTbl.insertRow();
            oRow.onmouseover=function(){oTbl.clickedRowIndex=this.rowIndex}; //clickedRowIndex - 클릭한 Row의 위치를 확인;
            var oCell = oRow.insertCell();

            //삽입될 Form Tag
            var frmTag = `<select name='data_type'>
                                    <option name='' selected disabled>-- 데이터 유형선택 --</option>
                                    <option value='string'>문자열</option>
                                    <option value='int'>정수</option>
                                    <option value='double'>소수</option>
                                    <option value='date'>날짜(년,월,일)</option>
                                    <option value='time'>시간(시,분,초)</option>
                                    <option value='datetime'>날짜+시간</option>
                                  </select>
                                  <input type="text" name="table_schema">`;
            frmTag += "<input type='button' style='padding: .075rem .175rem;' class='btn btn-danger' value='삭제' onClick='removeRow()' style='cursor:hand'>";
            oCell.innerHTML = frmTag;
        }
        //Row 삭제
        function removeRow() {
        oTbl.deleteRow(oTbl.clickedRowIndex);
        }

        function frmCheck()
        {
            var frm = document.task;
            for( var i = 0; i < frm.elements.length; i++ ){
                if( frm.elements[i].name == "table_schema" )
                {
                    if( !frm.elements[i].value ){
                        alert("텍스트박스에 값을 입력하거나 스키마 빈칸을 삭제 후 제출하세요!");
                        frm.elements[i].focus();
                        return false;
                    }
                }
            }
        }
    </script>
</head>

    <body>
        <div class="abcd" style="overflow: hidden;
    margin: auto;
    position: relative; /*relative*/
    margin-top:10px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 900px;
    text-align: center;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.12);">
            <form name='task' action='/task_sys/add/submit' onsubmit="return frmCheck();" method="POST">
                <title>새 태스크 추가하기</title>
                <h2 style="margin-top:20px;">새 태스크 추가하기</h2>
                <table style="margin:auto;">
                    <label>
                        <td><span>태스크이름</span></td>
                        <td><input type="text" size="35" name='task_name'></td>
                    </label>
                <tr></tr>
                    <label>
                        <td><span>태스크설명</span></td>
                        <td><textarea type="textarea" cols="38" rows="3" name='description'></textarea></td>
                    </label>
                <tr>
                    <label>
                        <td><span>최소업로드 주기</span></td>
                        <td><input type="text" size="35" name='min_upload_freq'></td>
                        <tr></tr>
                        <td></td>
                        <td><span style="color:darkgrey">(예:숫자로 입력, 단위(일))</span></td>
                    </label>
                </tr></table>
                <HR SIZE=3>
                <table style="margin: auto;"><h5 style="color:#082cce"><b>태스크 데이터 테이블 생성</b></h5>
                <div>
                    <label>
                        <td><span><b>태스크 데이터 테이블 이름</b></span></td>
                        <td><input type="text" name='task_table_name'></td>
                    </label>
                </div></table>

                <!--SelectOption+TextBox 스키마정보 받기
        <span>태이블 데이터 테이블 스키마</span>
        <input type="textarea" style='height:50px' name='table_schema'>-->

                <table width="200"  cellspacing="0" cellpadding="0" align="center" style="margin: auto;">
                    <tr>
                        <td colspan="2" bgcolor="#FFFFFF">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="5" bgcolor="#FFFFFF" height="25" align="center">
                                        <tr><font color="#FF0000">*</font><b>태스크 데이터 테이블 스키마를 추가하세요!</b>
                                        <input name="addButton" type="button" style="cursor:hand; padding: .075rem .175rem;" onClick="insRow()"  class="btn btn-primary"  value="추가"></tr>
                                    </td>


                                </tr>
                                <tr>
                                    <td height="25">
                                        <table id="addTable" width="700" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF"  style="margin: auto;">
                                            <tr>
                                            <tr>
                                                <select name='data_type'>
                                                    <option name='' selected disabled>-- 데이터 유형선택 --</option>
                                                    <option value='string'>문자열</option>
                                                    <option value='int'>정수</option>
                                                    <option value='double'>소수</option>
                                                    <option value='date'>날짜(년,월,일)</option>
                                                    <option value='time'>시간(시,분,초)</option>
                                                    <option value='datetime'>날짜+시간</option>
                                                </select>
                                                <input type="text" name="table_schema" >
                                            </tr>
                                            <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                </td>
                </tr>
                </table>
            
                <HR SIZE=3>
                <h5 style="color:#082cce"><b>기본 원본 데이터 타입 설정</b></h5>
                <table style="margin: auto;">
                    <label>
                        <td><span >원본 데이터 타입 이름</span></td>
                        <td><input size="35" type="text" name='odt_name'></td>
                    </label>
                <tr></tr>
                    <label>
                        <td><span>스키마정보</span></td>
                        <td><textarea type="text" cols="38" rows="3" style='height:50px' name='schema_info' '></textarea></td>
                    </label>
                <tr></tr>
                    <label>
                        <td><span>스키마 매핑정보</span></td>
                        <td><textarea type="text" cols="38" rows="3" name='mapping_info' '></textarea></td>
                    </label></table>

                <p></p>
                <input id="submit" type='submit' class="btn btn-primary" value='새 태스크 추가하기'></input>
                <a type='submit' href="/task_sys" class="btn btn-secondary" style="margin-left: 20px;">뒤로가기</a>
            </form>
            <p></p>
            <br>
            
        </div>
</body>
</html>
{%else%}
<script type="text/javascript">alert("접근권한없음! (관리자기능)");history.back();</script>
{%endif%}