<!DOCTYPE html>
<html>
<head>
    <title>태스크 관리</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="..\bootstrap-3.3.2\dist\css\bootstrap.min.css" rel="stylesheet">-->

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-sm navbar navbar-dark bg-dark" style="width: auto; background-color:white;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/main"><b>DB_project_2020</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main"><b>메인화면</b></a>
            </li>
            {%if user.role==0 %}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userinfo/stat">회원관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/task_sys">태스크관리</a>
            </li>
            {%endif%}
            {%if user.role==1%}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">태스크참여</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/task_sys/partic">파일제출</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/task_sys/partic/partic/{{user.id}}">제출현황</a>
            </li>
            {%endif%}
            {%if user.role==2%}
            <li class="nav-item">
                <a class="nav-link" href="/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">태스크평가</a>
            </li>
            {%endif%}
        </ul>
    </nav>
</head>
<body>
    <div class="abcd" style="overflow: hidden;
    margin: auto;
    position: relative; /*relative*/
    margin-top:20px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 900px;
    text-align: center;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.12);">
        <h2>승인 대기중인 태스크</h2>
        <span class="badge badge-primary">-</span>승인대기중
        <span class="badge badge-success">V</span>승인허가
        <span class="badge badge-secondary">X</span>승인거절
        {%if user.role==0%}
        <table stylule="width:100%" border="1" align="center">
            <thead>
                <tr>
                    <th>신청번호</th>
                    <th>신청자(제출자)</th>
                    <th>태스크ID</th>
                    <th>태스크이름</th>
                    <th>평가점수</th>
                    <th>승인현황</th>
                    <th>승인</th>
                    <ul></ul>
            </thead>
            </tr>

            {%for apply in applys %}
            {%if apply.is_approved==NULL or apply.is_approved==false%}
            <tr>
                <td>{{apply.apply_id}}</td>
                <td>{{apply.user_id}}</td>
                <td>{{apply.task_id}}</td>
                <td>{{apply.task_name}}</td>
                <td>{{apply.User.score}}</td>
                <td>{%if apply.is_approved==NULL%}
                    <span class="badge badge-primary">-</span>
                    {%endif%}
                    {%if apply.is_approved==true%}
                    <span class="badge badge-success">V</span>
                    {%endif%}
                    {%if apply.is_approved==false%}
                    <span class="badge badge-secondary">X</span>
                    {%endif%}</td>
                <td>
                    <a type="button" class="badge badge-success" href="/task_sys/manage/{{apply.apply_id}}" method='get'>허가</a>
                    {%if apply.is_approved==NULL%}
                    <a type="button" class="badge badge-secondary" href="/task_sys/manage/disapprove/{{apply.apply_id}}" method='get'>거절</a>
                    {%endif%}
                </td>
            </tr>
            {%endif%}
            {%endfor%}
        </table>
        {%endif%}
        <HR SIZE=3>
        <h2>참여허가 받은 제출자 신청</h2>
        {%if user.role==0%}
        <table stylule="width:100%" border="1" align="center">
            <thead>
                <tr>
                    <th>신청번호</th>
                    <th>신청자(제출자)</th>
                    <th>태스크ID</th>
                    <th>태스크이름</th>
                    <th>취소</th>
                    <ul></ul>
            </thead>
            </tr>

            {%for apply in applys %}
            {%if apply.is_approved==true%}
            <tr>
                <td>{{apply.apply_id}}</td>
                <td>{{apply.user_id}}</td>
                <td>{{apply.task_id}}</td>
                <td>{{apply.task_name}}</td>
                <td>
                    <a type="button" class="badge badge-secondary" href="/task_sys/manage/{{apply.apply_id}}" method='get'>허가취소</a>
                </td>
            </tr>
            {%endif%}
            {%endfor%}
        </table>
        {%endif%}

        {%if user.role==0 %}
        <a type="button" href="/task_sys" class="btn btn-primary" style="margin-top:10px;margin-bottom:10px;">시스템메인페이지</a>
        {%endif%}
        <a type="button" href="/" class="btn btn-primary" style="margin-top:10px; margin-bottom:10px;">종료</a>
    </div>
</body>

</html>
<!--
<script type="text/javascript">alert("접근권한없음! (관리자기능)");location.href="/auth/logout";</script>
-->