<!DOCTYPE html>
<html>
  <head>
    <title>전체 태스크 목록</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="..\bootstrap-3.3.2\dist\css\bootstrap.min.css" rel="stylesheet">-->

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
  </head>
<body>
    <h2> 태스크 정보</h2>
    {%if user.role==0%} 
    <table stylule="width:100%" border="1">
      <thead>
      <tr>
          <th>태스크ID</th>
          <th>태스크이름</th>
          <th>설명</th>
          <th>태스크테이블이름</th>
          <th>최소업로드주기</th>
          <th>진행중/종료</th>
          <th>테이블스키마</th>
          <ul></ul>
        </thead>
      </tr>

          {%for task in tasks%}
          <tr>
            <td>{{task.task_id}}</td>
            <td>{{task.task_name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.task_table_name}}</td>
            <td>{{task.min_upload_freq}}</td>
            <td>
                {{'진행중' if task.is_closed==false}}
                {{'종료' if task.is_closed==true}}</td>
            <td>{{task.table_schema}}</td>
          </tr>
          {%endfor%}
      </table>
    {%else%}
    <table stylule="width:100%" border="1">
        <thead>
        <tr>
            <th>태스크 고유ID</th>
            
            <th>태스크이름</th>
            <th>설명</th>
            <th>최소업로드주기</th>
            <th>진행중/종료</th>
            <ul></ul>
          </thead>
        </tr>
  
            {%for task in tasks%}
            <tr>
              <td>{{task.task_id}}</td>
              <td>{{task.task_name}}</td>
              <td>{{task.description}}</td>
              <td>{{task.min_upload_freq}}</td>
              <td>
                  {%if task.is_closed==false%}
                  <button>참여하기</button>
                  {%endif%}
                  {{'종료' if task.is_closed==true}}</td>
            </tr>
            {%endfor%}
        </table>
    {%endif%}
    <h2>태스크의 원본 데이터 타입</h2>
    
        <table stylule="width:100%" border="1">
          <tr>
            <th>태스크ID</th> 
            <th>타입이름</th>
            <th>스키마정보</th>
            <th>매핑정보</th>
          </tr>
          {%for odt in odts%}
          <tr>
            <th>{{odt.t_id}}</th>
            <th>{{odt.name}}</th>
            <th>{{odt.schema_info}}</th>
            <th>{{odt.mapping_info}}</th>
          </tr>
          {%endfor%}
        </table>
    {%if applys %}
    <h2>태스크에 참여중인 제출자</h2>

    <table stylule="width:100%" border="1">
      <tr>
        <th>사용자ID</th> 
      </tr>
      {%for apply in applys%}
      <tr>
        <th><a type='submit' name='id' class="btn" href='/userinfo/stat/{{apply.user_id}}' method='GET'>{{apply.user_id}}</a></th>
      </tr>
      {%endfor%}
    </table>
    {%endif%}
  
  {%if user.role==0 %}
  <a type="button" href="/task_sys/add_odt/{{task_id}}" method='GET'>>추가하기</a>
  <a type="button" href="/task_sys">시스템메인페이지</a>
  {%endif%}
  <a type="button" href="/">종료</a>
</body>

</html>
<!--
<script type="text/javascript">alert("접근권한없음! (관리자기능)");location.href="/auth/logout";</script>
-->