<!DOCTYPE html>
<html>
  <head>
    <title>태스크 관리</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="..\bootstrap-3.3.2\dist\css\bootstrap.min.css" rel="stylesheet">-->

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
  </head>
<body>
    <h2>승인 대기중인 태스크</h2>
    {%if user.role==0%} 
    <table stylule="width:100%" border="1">
      <thead>
      <tr>
          <th>신청번호</th>
          <th>신청자(제출자)</th>
          <th>태스크ID</th>
          <th>태스크이름</th>
          <th>평가점수</th>
          <th>승인(미승인시 자동거절)</th>
          <ul></ul>
        </thead>
      </tr>

          {%for apply in applys %}
            {%if apply.is_approved==''%}
                <tr>
                    <td>{{apply.apply_id}}</td>
                    <td>{{apply.user_id}}</td>
                    <td>{{apply.task_id}}</td>
                    <td>{{apply.task_name}}</td>
                    <td></td>
                    <td>
                        <a type="button" href="/task_sys/manage/{{apply.apply_id}}" method='get'>참여허가</a>
                    </td>
                </tr>
            {%endif%}
          {%endfor%}
      </table>
    {%endif%}
    <h2>참여허가 받은 제출자 신청</h2>
    {%if user.role==0%} 
    <table stylule="width:100%" border="1">
      <thead>
      <tr>
          <th>신청번호</th>
          <th>신청자(제출자)</th>
          <th>태스크ID</th>
          <th>태스크이름</th>
          <th>취소</th>
          <ul></ul>
        </thead>
      </tr>

          {%for apply in applys %}
            {%if apply.is_approved==true%}
                <tr>
                    <td>{{apply.apply_id}}</td>
                    <td>{{apply.user_id}}</td>
                    <td>{{apply.task_id}}</td>
                    <td>{{apply.task_name}}</td>
                    <td>
                        <a type="button" href="/task_sys/manage/{{apply.apply_id}}" method='get'>허가취소</a>
                    </td>
                </tr>
            {%endif%}
          {%endfor%}
      </table>
    {%endif%}

  {%if user.role==0 %}
  <a type="button" href="/task_sys">시스템메인페이지</a>
  {%endif%}
  <a type="button" href="/">종료</a>
</body>

</html>
<!--
<script type="text/javascript">alert("접근권한없음! (관리자기능)");location.href="/auth/logout";</script>
-->